body{
  background-color: white;
  background-image: url();
}



header {
  text-align: center;
  font-size: 28px;
  font-family: Algerian;
  font-weight: 20px;
  background-image:
  url("https://c2.staticflickr.com/6/5680/22302333629_0d42d94d22_b.jpg"),
  url("https://upload.wikimedia.org/wikipedia/commons/3/3b/Claudius_II_coin_%28colourised%29.png"),
  url("https://upload.wikimedia.org/wikipedia/commons/3/3b/Claudius_II_coin_%28colourised%29.png"),
  url("https://upload.wikimedia.org/wikipedia/commons/3/3e/Myrbach-Battle_of_Lodi.jpg");
  background-repeat: no-repeat;
  background-position: 50%, 10%, 90%, 50%;
  background-size: 40%, 18%, 18%, 100%; 
  background-color: white;
}


footer {
  
  clear: both;
}

.page {
  
  float: right;
  width: 70%;
  border-left: 1.5px dashed;
  border-top: 1.5px dashed;
  border-right: 1.5px dashed;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 1em;
  border-color: #ffbc36;
  min-height: 400px;
  background-color: white;

  


}

aside {
  float: left;
  width: 255px;
  margin-top: 16px;
}

nav ul {
  list-style-type: none;
  padding: 10;
}

nav li {
  margin-bottom: 14px;
  font-size: 20px;
  font-family: Arial Black;
  background-color: white;
  border-bottom: solid;
  border-bottom-color: #ffbc36;


}

nav .active {
  font-weight: bold;
}
